# editorconfig for Say Hello Projects

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = off
tab_width = 4
quote_type = single

[*.php]
indent_style = tab
