.idea
node_modules
build
vendor/*
!vendor/autoload.php
!vendor/composer
vendor/composer/*
vendor/composer/LICENSE
vendor/composer/installed.json
!vendor/composer/autoload*
!vendor/composer/ClassLoader.php